GardenClient/Service References/GardenServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfGardenService" />
  <xs:element name="ViewAllPlantsInGarden">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllPlantsInGardenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="ViewAllPlantsInGardenResult" nillable="true" type="q1:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAnnual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAnnualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="ListAnnualResult" nillable="true" type="q2:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPerenial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPerenialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="ListPerenialResult" nillable="true" type="q3:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlantsInZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="myZone" type="q4:hardinessZone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlantsInZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="ListPlantsInZoneResult" nillable="true" type="q5:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlantsRequireThisSunExposure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="mySun" type="q6:sunExposure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlantsRequireThisSunExposureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="ListPlantsRequireThisSunExposureResult" nillable="true" type="q7:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantsToPlantInThisMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="thisMonth" type="q8:Month" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlantsToPlantInThisMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfGardenService" minOccurs="0" name="PlantsToPlantInThisMonthResult" nillable="true" type="q9:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>